@model TicketsBookingOnlineSystem.ViewModels.UserViewLogin

@{
    ViewBag.Title = "AfterLogin";
}

<h2>AfterLogin</h2>
@if (Session["LoggedUserEmail"] != null)
{
    <div>Witaj</div>
    <div>@Html.ActionLink("Moje konto", "Edit", "Edit")</div>
}
