@{
    ViewBag.Title = "ForgotPassword";
}

<!-- Website Font style -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

<!-- Google Fonts -->
<link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>


<div class="container">
    <div class="row main">
        <div class="panel-heading">
            <div class="panel-title text-center">
                <h1 class="title">Odzyskaj swoje konto</h1>
                <hr />
            </div>
        </div>
        <div class="main-login main-center">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-group">
                    <div class="cols-sm-10">
                        <label class="control-label">Podaj swój Email</label>
                            @Html.Editor("Email","", new { htmlAttributes = new { @class = "form-control", @placeholder = "Podaj swój Email" } })
                    </div>
                </div>

                <div class="form-group ">
                    <input type="submit" value="Wyślij" class="btn btn-primary btn-lg btn-block login-button" />
                </div>
                    <span class="help-block">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    </span>
            }
        </div>
    </div>
</div>

<style>
    .help-block ul {
        list-style-type: none;
    }

    h1.title {
        font-size: 50px;
        font-family: 'Passion One', cursive;
        font-weight: 400;
    }

    hr {
        width: 10%;
        color: #fff;
    }

    .form-group {
        margin-bottom: 15px;
    }

    input,
    input::-webkit-input-placeholder {
        font-size: 11px;
        padding-top: 3px;
    }

    .main-login {
        background-color: #fff;
        /* shadows and rounded borders */
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        -moz-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.3);
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
    }

    .main-center {
        margin-top: 30px;
        margin: 0 auto;
        max-width: 330px;
        padding: 40px 40px;
    }

    .login-button {
        margin-top: 5px;
    }

    .login-register {
        font-size: 11px;
        text-align: center;
    }
</style>
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}
