@model TicketsBookingOnlineSystem.ViewModels.SeanceDateViewModel

@{
    ViewBag.Title = "Repertoire";
}

<h2>Repertuar</h2>
<h4>Dzień</h4>
@foreach (var item in Model.DateMenu)
{
    @Html.ActionLink(item.Date.ToString("dd.MM.yyyy"), "Repertoire", "Repertoire", new { id = item.Date.ToString("dd-MM-yyyy") }, null) <a>&nbsp;</a>
}

<table class="table">
    <tr>
        <th>
            Tytuł
        </th>
        <th>
            Gatunek
        </th>
        <th>
            Czas trwania
        </th>
    </tr>

    @foreach (var item in Model.Films)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Film.Title, "Index", "FilmDetails", new { id = item.Film.Id }, new { })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Film.FilmGenreName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Film.Duration)
            </td>
        </tr>
    }

</table>

@*Html.ActionLink(item.Title, "Index", "FilmDetails", new { id = item.Id }, new { })*@