@model IEnumerable<TicketsBookingOnlineSystem.ViewModels.FilmViewModel>

@{
    ViewBag.Title = "Drama";
}

<!-- Website Font style -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

<!-- Google Fonts -->
<link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>

<link href='https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css' rel='stylesheet' type='text/css'>

<br>
<div class="container">
    <div class="row">
        <section class="content">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="table-container">
                            <table class="table table-filter">
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr data-status="pagado">
                                            <td>
                                                <div class="media">
                                                    <a href="#" class="pull-left">
                                                        <img src="~/Content/img/film-genre-img/drama.svg.png" class="media-photo">
                                                    </a>
                                                    <div class="media-body">
                                                        <span class="media-meta pull-right">Czas trwania: @Html.DisplayFor(modelItem => item.Duration)</span>
                                                        <h4 class="title">
                                                            @Html.DisplayFor(modelItem => item.Title)
                                                            <span class="pull-right cancelado">Dramat</span>
                                                        </h4>
                                                        <p class="summary">@Html.ActionLink("Szczegóły", "Index", "FilmDetails", new { id = item.Id }, new { @class = "link"})</p>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
